body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}
.dowland-btn{
    background-color: rgb(13, 97, 97);
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 30px;
    font-weight: 900;
    border-radius: 10px;
}
